body {
  @extend %Inter-400;
  font-size: 16px;
  line-height: 23px;
  color: $text;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  border: 1px solid $btn-2;
  border-radius: 50px;
  padding: 15px 50px;
  @extend %Inter-500;
  transition: all 0.3s;
}

.slick-dots {
  position: absolute;
  bottom: 30px;
  left: 50%;
  display: flex;
  justify-content: center;
  font-size: 0;
  transform: translateX(-50%);
}
.slick-dots button {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: none;
  background: #afccbe;
  cursor: pointer;
}
.slick-active button {
  background-color: $default;
}
.slick-dots li + li {
  margin-left: 15px;
}
